body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#new-message-form {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: 1.5rem;
}

#new-message-form-comment {
    width: 300px;
    height: 150px;
    margin: 2px 0px 5px 0px;
}
.btn {
    position: relative;
    left: 245px;
    width: 60px;
    border: none;
    background-color: hsl(195, 80%, 50%);
    font-size: 15px;
    padding: 5px;
    text-align: center;
}

.btn:hover{
    background-color: hsl(195, 50%, 50%);   
}
.btn:active{
    background-color: hsl(195, 100%, 50%);   
}

#message-list {
  margin-top: 16px;
}

#message-list > .message-list-item {
  margin-bottom: 16px;
}

.message-list-item {
  border: 1px solid black;
  padding: 16px;
  border-radius: 6px;
  box-shadow: 1px 1px 1px black;
}