body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 1.5rem;
}

form textarea {
    width: 300px;
    height: 150px;
    margin: 2px 0px 5px 0px;
}
form button {
    position: relative;
    left: 245px;
    width: 60px;
    border: none;
    background-color: hsl(195, 80%, 50%);
    font-size: 15px;
    padding: 5px;
    text-align: center;
}

form button:hover{
    background-color: hsl(195, 50%, 50%);   
}
form button:active{
    background-color: hsl(195, 100%, 50%);   
}