.side-bar {
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: hsla(210, 9%, 91%, 0.527);
  width: 150px;
  border-radius: 5px;
  top: 100px;
  overflow: hidden;
}
.side-bar a {
  margin: 2px;
  text-decoration: none;
  list-style: none;
  color: hsl(195, 70%, 50%);
}
.side-bar a:hover {
  color: hsl(195, 70%, 60%);
  text-decoration: underline;
}


.main-body-container {
  margin-left: 170px;
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.list > li {
  display: inline-block;
  border: 1px solid black;
  border-radius: 6px;
  margin-right: 12px;
}

.list > li:last-child {
  margin-right: 0;
}

.list > li > a {
  padding: 12px;
  display: inline-block;
  text-decoration: none;
  color: black;
  border-radius: 6px;
}

.list > li > a:hover {
  background-color: lightgrey;
}

.list > li > a:active {
  background-color: red;
}

.point {
  color: red;
}

#paragraph1 {
  color: rgb(0, 0, 0);
  background-color: #95ffcd;
  text-align:center;
}
